.weather-search {
  background: linear-gradient(to top, #e0ddf1 0%, #a3daff 100%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  padding: 0;
}

.Weather-info {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
}

.temperature-container {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.temperature-container strong {
  font-size: 72px;
  font-weight: bold;
  color: #000;
  line-height: 1; /* Garante que a altura da linha não empurre o span para baixo */
}

.temperature-container span {
  font-size: 20px;
  font-weight: normal;
}

.temperature-container a {
  text-decoration: none;
  color: #000;
}

.temperature-value {
  display: flex;
  align-items: flex-start; /* Alinha os itens no topo */
}

.WeatherForecast {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}

.WeatherForecastPreview {
  background: linear-gradient(to top, #c6c1e8 0%, #a3daff 100%);
  padding: 20px;
  border-radius: 10px;
}

@media (max-width: 576px) {
  .temperature-container strong {
    font-size: 48px; /* Diminui o tamanho da temperatura principal */
  }

  .Weather-info {
    text-align: center; /* Centraliza as informações no mobile */
  }

  .temperature-container {
    justify-content: center !important; /* Centraliza a temperatura */
    margin-top: 20px;
  }

  .WeatherForecastPreview {
    padding: 10px; /* Reduz o padding para ganhar espaço */
    font-size: 14px;
  }
}
